In [1]:
import pandas as pd

In [ ]:
# Pandas Series Constructor Syntax
# Pandas.series(data,index,dtype,copy)

# data: The data contains ndarray, list, constants.
# Index: The index must be unique and hashable. np.arrange(n) if no index is passed.
# dtype: dtype is also a data type.
# copy: It is used to copy the data. The data contains ndarray, list, constants.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = np.array(['python','php','java'])

series = pd.Series(data)

print(series)

0    python
1       php
2      java
dtype: object

In [5]:
s2 = pd.Series(data =data, index=['r1','r2','r3'])

print(s2)

r1    python
r2       php
r3      java
dtype: object

Create Series using Dict

In [6]:
data = {'Course':"pandas",'Fees':2000,'Duration':"30days"}

s2 = pd.Series(data)

print(s2)

Course      pandas
Fees          2000
Duration    30days
dtype: object

To See index from Dict and add index while creating a Series.

In [8]:
data = {'Course':"pandas",'Fees':2000,'Duration':"30days"}
s3 = pd.Series(data=data , index=['Courses','CourseFee','CourseDuration'])

print(s3)

Courses           NaN
CourseFee         NaN
CourseDuration    NaN
dtype: object

['r0', 'r1', 'r2', 'r3', 'r4']

Create Series using List

In [18]:
dataList = ['python','php','java','R']

l1 = list('r'+ str(i) for i in range(4))

s4 = pd.Series(dataList,index=l1)

print(s4)

r0    python
r1       php
r2      java
r3         R
dtype: object

Creating Empty Series

In [19]:
s = pd.Series()

print(s)

Series([], dtype: float64)

c:\Users\Manjunath\miniconda3\envs\azure_automl\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [22]:
course = pd.Series(['Spark','PySpark','Hadoop'],name='course')
Fees = pd.Series([220,300,400],name='fees')

df = pd.concat([course,Fees],axis=1)

print(df)

    course  fees
0    Spark   220
1  PySpark   300
2   Hadoop   400

In [25]:
# Convert a single DataFrame column into a series

data = ['python','Spark','R']

df = pd.DataFrame(data,columns = ['Course'])

my_series = df.squeeze()

print(my_series)

print(type(my_series))

0    python
1     Spark
2         R
Name: Course, dtype: object
<class 'pandas.core.series.Series'>

Convert a specific DataFrame column into a series

In [27]:
# create DataFrame with multiple columns
import pandas as pd
data = {'Courses': ['Spark', 'PySpark', 'Python'],
        'Duration':['30 days', '40 days', '50 days'],
        'Price':[20000, 25000, 26000]
        }
df = pd.DataFrame(data, columns = ['Courses', 'Duration', 'Price'])
print(df)
print (type(df))

   Courses Duration  Price
0    Spark  30 days  20000
1  PySpark  40 days  25000
2   Python  50 days  26000
<class 'pandas.core.frame.DataFrame'>

In [29]:
myseries1 = df['Price'].squeeze()

print(myseries1)

print(type(myseries1))

0    20000
1    25000
2    26000
Name: Price, dtype: int64
<class 'pandas.core.series.Series'>